.post-date{
	background:transparent;
	padding:4px;
	margin:3px 0;
	display:block;
}

.post-thumb{
	width:100%;
}

.pagination-links{
	margin:30px 0;
}

.pagination-links strong {
    padding: 8px 13px;
    margin: 5px;
    color: #fff;
    background: #ff8431;
    border: 1px #ff8431 solid;
    border-radius: 3px;
}

a.pagination-link {
    padding: 8px 13px;
    margin: 5px;
    background: #f4f4f4;
    border: 1px #f4f4f4 solid;
    border-radius: 3px;
}

.cat-delete{
	display:inline;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* button */

.btn{
margin-right: 10px;

}

.btn-primary {
    color: #fff;
    background-color: #ff8431;
    border-color: #ff8431;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f5741e;
    border-color: #ff8431;
}

/* custom */


.bg-primary {
    background-color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #33475b;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #ff8431;
}

a.nav-link {
    font-weight: 600;
}

.navbar-dark .navbar-brand {
    color: #33475b;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #ff8431;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #ff8431;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(255, 132, 49);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

p.card-text {
    color: #33475b;
}

h5.card-title {
    color: #33475b;
}

form {
    display: initial;
}

footer#footer {
    background: #ffffff;
}
a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}

